@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
:root{
    --dark-color: rgb(14, 14, 14); 
    --mid-dark-color: rgb(197, 193, 193);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background-color: var(--dark-color);
    color: white;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--mid-dark-color);
}


#tentacles {
    width: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-color);
    padding: 1%;
    align-items: center;
    border-bottom: 0.1px solid rgb(58, 58, 58);
    margin-left: 78px;
    margin-right: 78px;
    flex-wrap: wrap;
}

.header-left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.header-right{
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.header-text-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.header-text{
    font-size: 16px;
}

#search-input{
    background-color: rgb(56, 56, 56);
    color: white;
    border: 0.05px solid rgb(93, 93, 93);
    border-radius: 10px;
    text-align: right;
    padding: 5px;
}

.stats-container {
    display: flex;
    max-width: 870px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 90px;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    border: 1px solid lightblue;
    background: none;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    flex-grow: 1;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(53, 53, 53);
    min-height: 168px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    justify-content: center;
    padding-left: 30px;
}

.stats-card > h3{
    font-weight: 300;
    font-size: 22px;
}

#num-contributions, #total-raised, #num-games {
    font-weight: 600;
    font-size: 36px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.hero{
    max-width: 604px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    margin-bottom: 68px;
    text-align: center;
}

.hero > h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
}

#description-container > p{
    color: var(--mid-dark-color);
}

#first-game{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 32px;
    margin-bottom: 90px;
}

.first-game-left{
    max-width: 60%;
}

.first-game-img{
    width: 100%;
}

.first-game-right{
    display: flex;
    flex-direction: column;
    max-width: 35%;
}

.first-game-right > h3{
    font-weight: lighter;
}

.top-funded-name{
    font-size: 36px;
    font-weight: bold;
}

@media (max-width: 800px){
    .first-game-left{
        max-width: 100%;
    }

    .first-game-right{
        max-width: 100%;
    }
}
